<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                                http://www.springframework.org/schema/beans/spring-beans.xsd
                                http://www.springframework.org/schema/security
                                http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- 释放静态资源拦截 -->
    <http pattern="/css/**" security="none"/>
    <http pattern="/img/**" security="none"/>
    <http pattern="/js/**" security="none"/>
    <http pattern="/plugins/**" security="none"/>
    <http pattern="/login.html" security="none"/>

    <!-- 配置拦截规则 use-expressions是否适用SPEL表达式-->
    <http use-expressions="false">
        <intercept-url pattern="/**" access="ROLE_ADMIN"/>
        <!-- 配置登陆标签 -->
        <form-login login-page="/login.html" default-target-url="/admin/index.html"
                    authentication-failure-url="/login.html" always-use-default-target="true"></form-login>
        <!-- 关闭跨站请求 -->
        <csrf disabled="true"></csrf>
        <!-- 如果页面使用到iframe框架，需要设置 policy="SAMEORIGIN"，才能正常显示框架中内容 -->
        <headers>
            <frame-options policy="SAMEORIGIN"></frame-options>
        </headers>
        <!-- 登出  -->
        <logout/>
    </http>

    <!-- 权限管理器 -->
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="admin" password="admin" authorities="ROLE_ADMIN"></user>
                <user name="nanzi" password="123456" authorities="ROLE_ADMIN"></user>
            </user-service>
        </authentication-provider>
    </authentication-manager>
</beans:beans>